# temporary
Passfedern.js
Perlindungan.js
Bohrtabelle.md
bohrtabelle-für-zylinderschrauben-senkung-din-974.png
*Tools/DataIPEX

# Projectspecific files and folders
.Collections

# Folder
node_modules
.env
jsconfig.json

# File extensions
*.drawio

# macos-files that might appear in the root of a volume
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
