:root {
	/* Navbar */
	--bgcNavbar: 0 100% 100%;
	--txtNavbar: 0 100% 100%;
	--invNavbar: 1;
	/* Title */
	--bgcGridtitle: 240 52% 54%;
	--txtGridtitle: 0 100% 100%;
	--invGridtitle: 1;
	/* General Background */
	--bgcBackground: 100 5% 89%;
	--txtBackground: 0 100% 0%;
	--invBackground: 0;
	/* Tile / Subgrid */
	--bgcSubgrid: 0 100% 100%;
	--opacitySubgrid: 0.3;
	/* Button Colors */
	--bgcButton: 0 0% 100%;
	--txtButton: 0 0% 0%;
	--bgcButtonPositive: 120 100% 50%;
	--txtButtonPositive: 0 0% 0%;
	--bgcButtonNegative: 0 100% 44%;
	--txtButtonNegative: 0 0% 100%;
	/* fixed colors */
	--bgcNumberyHover: hsl(var(--bgcBackground));
	/* NAVBAR/TITLE */
	--navbarHeight: 2.5rem;
	--gridtitleHeight: 2.083rem;
	/* GRID SIZES */
	--gridRowLength: 3;
	--gridGap: 0.25rem;
	--gridMarginSide: 0.833rem;
	--divGridMinWidth: 41.667rem;
	--divGridMinHeight: 15rem;
	--navContentLength: 5;
	--navOrientation: column;
	/* UI SIZES */
	--UIRadius: 0.3rem;
	--LayoutRadius: 0rem;
	--padding: 0.417rem;
	--paddingVertical: 0.167rem;
	--UIPadding: 0.167rem;
	--UIHeight: 1.667rem;
	--UIHeightDouble: 3.333rem;
	--UIHeightTriple: 5rem;
	--UIWidthSmall: 5rem;
	--UIWidthMedium: 6.667rem;
	--UIWidthNorm: 10rem;
	--UIWidthWide: 16.667rem;
	--UIWidthLarge: 20rem;
	--rangeHeight: 0.833rem;
	--rangeThumbWidth: 0.5rem;
	--rangeThumbHeight: 1.25rem;
	/**/
	--borderThin: 0.042rem solid hsl(var(--bgcNavbar));
	--borderThinInverse: 0.042rem solid hsl(var(--txtNavbar));
	--UIBorderRight: 0.5rem solid hsl(var(--bgcNavbar));
	--UIBorderBottom: 0.3rem solid hsl(var(--bgcNavbar));
	/* IMAGES */
	--imgSize: 1.25rem;
	--colBoxWidth: 1rem;
	--colBoxHeight: 0.667rem;
	--imgGifPrevWidth: 7rem;
	--imgGifMainWidth: 24rem;
	/* SONSTIGES */
	--transitionTimeInfo: 0.3s;
	--transitionTimeHide: 1s;
	--transitionTimeName: 1.3s;
	--fontSize: 12px;
	--fontWeight: 300;
	--fontSizeMedium: 1.2rem;
	--fontSizeLarge: 1.4rem;
	--gridWidthGameCanvas: 40rem;
	--gridHeightGameCanvas: 40rem;
	/* this may be used some time */
	--canvasScale: 1;
	--gridHeightChartCanvas: calc(var(--gridHeightGameCanvas) * 0.75);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Roboto", Times, "Work San", sans-serif;
	font-size: var(--fontSize);
	font-weight: var(--fontWeight);
	font-style: normal;
}

*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 300;
	src: local("work-sans-v9-latin-300.woff"), local("work-sans-v9-latin-regular.woff"), url("../Data/Fonts/work-sans-v9-latin-300.woff") format("woff");
}

/* roboto-300 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local(""), url("../Data/Fonts/roboto-v30-latin-300.woff") format("woff"), url("../Data/Fonts/roboto-v30-latin-300.woff2") format("woff2"),
		url("../Data/Fonts/roboto-v30-latin-300.ttf") format("truetype");
}

/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../Data/Fonts/roboto-v30-latin-regular.woff") format("woff"),
		url("../Data/Fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../Data/Fonts/roboto-v30-latin-regular.ttf") format("truetype");
}

.fullscreenFontsize {
	--fontSize: 30px;
}

body {
	background-color: hsl(var(--bgcBackground));
	/* background-color: hsl(var(--bgcBackground) / 0.95); */
	color: hsl(var(--txtBackground));
	-webkit-transition: all var(--transitionTimeName) ease-in-out;
	transition: all var(--transitionTimeName) ease-in-out;
}

/* body>div  */
.cl_Loading {
	position: fixed;
	display: grid;
	visibility: visible;
	top: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: black;
	color: white;
	font-size: 10vmin;
	z-index: 901;
	transition: none;
}

.cl_LoadingFinished {
	color: transparent;
	background-color: hsl(var(--bgcSubgrid) / 0);
	visibility: hidden;
	pointer-events: none;
	transition: color var(--transitionTimeName) ease-out, background-color var(--transitionTimeName) ease-out,
		pointer-events 0s linear var(--transitionTimeHide), visibility 0s linear var(--transitionTimeHide);
}

.cl_backgroundAnimation {
	position: fixed;
	z-index: -1;
}

main {
	min-height: calc(100vh - (2 * var(--navbarHeight)) - var(--gridGap));
	display: grid;
	grid-template-rows: repeat(var(--gridRowLength), auto);
	grid-gap: var(--padding);
	margin: calc(var(--gridGap) + var(--navbarHeight)) var(--gridMarginSide) var(--gridGap) var(--gridMarginSide);
	z-index: 1;
}

canvas {
	border: none;
}

sub {
	vertical-align: sub;
	font-size: 70%;
}

sup {
	vertical-align: super;
	font-size: 70%;
}

/* Table */
table {
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0 0;
	color: hsl(var(--txtBackground));
}

/* HEADER */
thead {
	position: -webkit-sticky;
	position: sticky;
	min-height: var(--UIHeight);
	top: 0;
	z-index: 2;
}

thead th {
	padding: var(--paddingVertical) var(--padding);
}

thead tr:last-child th {
	border-bottom: var(--UIBorderBottom);
}

/* BODY */
tbody {
	z-index: 1;
}

tbody td {
	padding: var(--paddingVertical) var(--padding);
	border-bottom: var(--borderThin);
	position: relative;
	transition: all var(--transitionTimeInfo) linear;
}

/* single Cell highlight!!!*/
tbody td:hover {
	background-color: hsl(var(--bgcNavbar) / 0.7);
	color: hsl(var(--txtNavbar));
}

/* Row Highlighting*/
tbody tr:hover {
	background-color: hsl(var(--bgcNavbar) / 0.15);
}

tbody tr:last-child td {
	border-bottom: 0;
}

.scrollTable {
	/* background-color: hsl(var(--bgcBackground)); */
	background: linear-gradient(to right, hsl(var(--bgcSubgrid) / var(--opacitySubgrid)), hsl(var(--bgcSubgrid) / var(--opacitySubgrid))),
		linear-gradient(to right, hsl(var(--bgcBackground)), hsl(var(--bgcBackground)));
}

.cl_tableText {
	width: 70%;
	padding: var(--padding) calc(var(--padding) * 2);
}

.cl_tableImage {
	width: 30%;
	/* padding: var(--padding) calc(var(--padding)*2); */
}

.clTab_borderThinRight {
	border-right: var(--borderThin);
}

.clTab_borderThickRight {
	border-right: var(--UIBorderBottom);
}

.clTab_shortTH {
	width: 5rem;
}

.clDiv_overviewTablesWide {
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	max-height: 16.667rem;
	max-width: var(--UIWidthWide);
}

.clDiv_overviewTablesWide::-webkit-scrollbar {
	display: none;
}

.clDiv_overviewTablesInput {
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	max-height: 16.667rem;
	max-width: var(--UIWidthNorm);
}

.clDiv_overviewTablesInput::-webkit-scrollbar {
	display: none;
}

.clDiv_overviewTablesAuto {
	overflow-y: auto;
	scrollbar-width: none;
	max-height: 20.833rem;
}

.clDiv_overviewTablesAuto::-webkit-scrollbar {
	display: none;
}

.clDiv_overviewTablesMaterial {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 50rem;
	max-width: 80%;
	/* calc(var(--UIWidthWide) * 3 */
}

.clDiv_overviewTablesMaterial::-webkit-scrollbar {
	display: none;
}

.clTab_vertical {
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	/* -moz-transform: rotate(180deg); */
	/* transform: rotate(180deg); */
	rotate: 180deg;
	height: auto;
	min-width: var(--UIHeight);
}

/* Gird Design */
.cl_contentGrid {
	min-height: 100vh;
	display: grid;
	grid-gap: var(--padding);
	margin: calc(var(--gridGap) + var(--navbarHeight)) var(--gridMarginSide) var(--gridMarginSide);
	z-index: 1;
}

.cl_gridTitle {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: start;
	justify-content: left;
	-webkit-box-align: center;
	align-items: center;
	flex-wrap: nowrap;
	height: var(--gridtitleHeight);
	background-color: hsl(var(--bgcGridtitle) / 0.9);
	/* -webkit-box-shadow: inset 0 calc(var(--gridGap)/4*-1) 0.25rem 0rem hsl(var(--bgcSubgrid)), inset 0 calc(var(--gridGap)/2) 0.25rem 0rem hsl(var(--bgcBackground)); */
	/* shadow: inset 0 calc(var(--gridGap)/4*-1) 0.25rem 0rem hsl(var(--bgcSubgrid)), inset 0 calc(var(--gridGap)/2) 0.25rem 0rem hsl(var(--bgcBackground)); */
	-webkit-transition: all var(--transitionTimeInfo) ease;
	transition: all var(--transitionTimeInfo) ease;
	/*  negative Margins to compensate the parents padding */
	margin: 0 calc(var(--padding) * -1) var(--padding);
	z-index: 5;
}

.cl_gridTitle div,
h1 {
	color: hsl(var(--txtGridtitle));
	font-size: var(--fontSizeMedium);
	display: -webkit-box;
	display: flex;
	background-color: transparent;
	-webkit-box-align: center;
	align-items: center;
	padding: 0 var(--padding);
}

.cl_subGrid {
	display: grid;
	grid-gap: var(--gridGap);
}

/* the subgrid-tile itself! */
.cl_contentSubGrid {
	background-color: hsl(var(--bgcSubgrid) / var(--opacitySubgrid));
	border-radius: var(--LayoutRadius);
	min-height: var(--divGridMinHeight);
	margin: 0;
	padding: 0 var(--padding) var(--padding);
	-webkit-transition: all var(--transitionTimeInfo) ease;
	transition: all var(--transitionTimeInfo) ease;
	overflow: hidden;
	z-index: 4;
}

.cl_contentSubGrid:hover > .cl_gridTitle {
	background-color: hsl(var(--bgcNavbar) / 1);
}

.cl_contentSubGrid:hover {
	--opacitySubgrid: 0.2;
}

/* Dropdon/Dropup  */
.clDropdownParent {
	display: inline-block;
	position: relative;
	padding: 0;
}

/* Dropdown Infos */
.clDropdownParent:hover .clDropdownInfo {
	display: block;
	opacity: 1;
	pointer-events: auto;
	-webkit-transition-delay: var(--transitionTimeInfo);
	transition-delay: var(--transitionTimeInfo);
}

.clDropdownParent:hover .clDropdownName {
	display: block;
	opacity: 1;
	pointer-events: auto;
	-webkit-transition-delay: var(--transitionTimeName);
	transition-delay: var(--transitionTimeName);
}

.clDropdown {
	position: absolute;
	top: calc(var(--imgSize) * 1.5);
	background-color: hsl(var(--bgcNavbar));
	color: hsl(var(--txtNavbar));
	border-radius: var(--LayoutRadius);
	border: var(--borderThinInverse);
	padding: var(--padding);
	text-align: center;
	width: max-content;
	max-width: 30rem;
	z-index: 20;
	opacity: 0;
	-webkit-transition: opacity var(--transitionTimeInfo) ease-in-out;
	transition: opacity var(--transitionTimeInfo) ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	pointer-events: none;
}

.clDropup {
	position: absolute;
	bottom: var(--imgSize);
	background-color: hsl(var(--bgcNavbar));
	color: hsl(var(--txtNavbar));
	border-radius: var(--LayoutRadius);
	border: var(--borderThinInverse);
	padding: var(--padding);
	text-align: center;
	min-width: 16.667rem;
	z-index: 20;
	opacity: 0;
	-webkit-transition: opacity var(--transitionTimeInfo) ease-in-out;
	transition: opacity var(--transitionTimeInfo) ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	pointer-events: none;
}

.cl_selColourSettings {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-box-align: end;
	align-items: end;
	flex-wrap: nowrap;
}

/* Navbar Styles */
.cl_navNames {
	font-size: var(--fontSizeLarge);
}

.coloredBox {
	height: var(--colBoxHeight);
	width: var(--colBoxWidth);
	margin: 0;
	border: 0.083rem solid hsl(var(--txtBackground));
}

.coloredDot {
	height: var(--colBoxWidth);
	width: var(--colBoxWidth);
	border-radius: 50%;
	margin: 0;
	border: 0.083rem solid hsl(var(--txtBackground));
}

nav,
footer {
	position: fixed;
	top: 0;
	left: 0;
	/* right: 0; */
	height: var(--navbarHeight);
	width: 100%;
	margin: auto;
	background-color: hsl(var(--bgcNavbar) / 1);
	display: grid;
	grid-auto-flow: var(--navOrientation);
	grid-gap: var(--gridGap);
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	overflow: hidden;
	-webkit-transition: all var(--transitionTimeInfo) ease;
	transition: all var(--transitionTimeInfo) ease;
	z-index: 100;
}

footer {
	position: relative;
	bottom: 0;
	padding: 0 calc(var(--padding) * 4);
	background-color: hsl(var(--bgcNavbar) / 1);
	overflow: inherit;
	display: -webkit-box;
	display: flex;
}

.cl_navElements,
.cl_navUser,
.cl_footerElements {
	color: hsl(var(--txtNavbar));
	padding: var(--gridGap);
	border-radius: var(--LayoutRadius);
	-webkit-transition: all var(--transitionTimeInfo) ease;
	transition: all var(--transitionTimeInfo) ease;
	cursor: pointer;
}

.cl_navElements > * {
	display: inline-block;
	margin: 0 var(--gridGap);
}

.cl_navElements:hover,
.cl_navUser:hover,
.navbarActive .cl_footerElements:hover {
	background-color: hsl(var(--bgcSubgrid) / 0.15);
}

.navbarActive {
	background-color: hsl(var(--bgcSubgrid) / 0.3);
}

.clFooterCredits {
	padding: var(--gridGap);
}

.cl_centeredPH::-webkit-input-placeholder {
	text-align: center;
}

.cl_centeredPH::-moz-placeholder {
	text-align: center;
}
