.cl_subGrid_userAcc {
	grid-template-areas:
		". userAcc_infos userAcc_infos ."
		". userAcc_mail userAcc_mail ."
		". userAcc_pass userAcc_pass ."
		". userAcc_check userAcc_alert ."
		". userAcc_submit userAcc_submit .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: auto var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_GeneralSettings {
	grid-template-areas:
		". SettingsFontsize ."
		". SettingsDecimals ."
		". SettingsCopyClick ."
		". SettingsCopySeparator .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_ColorSettings {
	grid-template-areas:
		". colourSettingsHeaderLight ."
		". colourSettings_light_0 ."
		". colourSettings_light_1 ."
		". colourSettings_light_2 ."
		". colourSettingsHeaderDark ."
		". colourSettings_dark_0 ."
		". colourSettings_dark_1 ."
		". colourSettings_dark_2 .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_UserGridLayout {
	grid-template-areas:
		". UserGridOptions . ."
		". UserGridTable . .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_MaterialFilterSettings {
	grid-template-areas: ". MaterialFilterTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
}

.cl_subGrid_Howa {
	grid-template-areas:
		". HowaInput HowaInput HowaOptionsA HowaOptionsA ."
		". HowaNow HowaNow HowaOptionsB HowaOptionsB ."
		". HowaNow HowaNow HowaOptionsC HowaOptionsC."
		". HowaGraph HowaGraph HowaGraph HowaGraph ."
		". . HowaMapsExpand HowaZoom . ."
		". . HowaMapsSelectCountry HowaMapsSelectCriteria . ."
		". HowaMapsImg HowaMapsImg HowaMapsImg HowaMapsImg .";
	grid-template-columns: 1fr auto auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_News {
	grid-template-areas:
		". NewsNav NewsResultImage NewsResultTitle ."
		". NewsCountry NewsResultImage NewsResultTitle ."
		". NewsCategory NewsResultImage NewsResultTitle ."
		". NewsTable NewsResultText NewsResultText .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Lions {
	grid-template-areas:
		". LionsInput LionsOutput ."
		". LionsTable LionsTable .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight2) auto;
}

.cl_subGrid_Sepakbola {
	grid-template-areas:
		". SepakbolaInputLiga SepakbolaInputSeason SepakbolaInputDay ."
		". SepakbolaTable SepakbolaTable SepakbolaMatches .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_PostillonTicker {
	grid-template-areas:
		". PostillionNumber ."
		". PostillionTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Tugas {
	grid-template-areas:
		". TugasInput TugasList ."
		". TugasEnter TugasList ."
		". . TugasList .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: auto var(--UIHeight1) auto;
}

.cl_subGrid_Netsaona {
	grid-template-areas:
		". NetsaonaOptionsA ."
		". NetsaonaOptionsB ."
		". NetsaonaOptionsC ."
		". NetsaonaOptionsD ."
		". NetsaonaOptionsE ."
		". NetsaonaOptionsF ."
		". NetsaonaOptionsG ."
		". NetsaonaOutput .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Afinn {
	grid-template-areas:
		". AfinnInput AfinnResult ."
		". AfinnInput AfinnProgress ."
		". AfinnNews AfinnTabResult ."
		". AfinnWiki AfinnTabResult .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: auto auto var(--UIHeight1) auto;
}

.cl_subGrid_Synonym {
	grid-template-areas:
		". SynonymInput ."
		". SynonymSearchword ."
		". SynonymTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Boredom {
	grid-template-areas:
		". BoredomStart ."
		". BoredomAnswer .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_BiktadA {
	grid-template-areas: ". BiktadATable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
}

.cl_subGrid_Hverertu {
	grid-template-areas:
		". HverertuInput ."
		". HverertuTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Egg {
	grid-template-areas:
		". EggMassValue ."
		". EggTempValue ."
		". EggYolkValue ."
		". EggStart ."
		". EggTime ."
		". EggTimeProgress .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Foody {
	grid-template-areas:
		". FoodyType ."
		". FoodyPreheat ."
		". FoodyStart ."
		". FoodyTime ."
		". FoodyTimeProgress .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Kounselor {
	grid-template-areas:
		". KounselorOutputA KounselorOptionsA ."
		". KounselorOutputA KounselorOptionsB ."
		". KounselorOutputB KounselorOptionsC ."
		". KounselorOutputB KounselorOptionsD ."
		". . KounselorOptionsE ."
		". . KounselorOptionsF ."
		". . KounselorOptionsG .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_Kaihanga {
	grid-template-areas:
		". KaihangaInput KaihangaCanvas ."
		". KaihangaSegments KaihangaCanvas ."
		". KaihangaSegments KaihangaResult .";
	grid-template-columns: 1fr auto auto 1r;
	grid-template-rows: auto auto auto;
}

.cl_subGrid_Botanicals {
	grid-template-areas:
		". botanicalsVinPlant botanicalsVinDiscomfort ."
		". botanicalsTabResultPlant botanicalsTabResultDiscomfort .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_PlatLesen {
	grid-template-areas:
		". platLesenRegInput ."
		". platLesenNumInput ."
		". platLesenResult .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto auto;
	/* grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto; */
}

.cl_subGrid_Pelvelea {
	grid-template-areas:
		". PelveleaStarttime ."
		". PelveleaBreaks ."
		". PelveleaWorktime ."
		". PelveleaResult ."
		". PelveleaProgress ."
		". PelveleaBreaktime .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight2) var(--UIHeight1) auto;
}

.cl_subGrid_Iomlaid {
	grid-template-areas:
		". iomlaidSelCur iomlaidVinCur . ."
		". iomlaidTab iomlaidTab iomlaidTab .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Thiontu {
	grid-template-areas:
		". ThiontuInputArea ThiontuOutputArea ."
		". ThiontuOptions_A ThiontuOptions_A ."
		". ThiontuOptions_B ThiontuOptions_B ."
		". ThiontuOptions_C ThiontuOptions_C ."
		". ThiontuOptions_D ThiontuOptions_D ."
		". ThiontuOptions_E ThiontuOptions_E .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: auto var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_Geometrie {
	grid-template-areas:
		". GeometrieAreaSelect GeometrieOptions ."
		". GeometrieAreaSelect GeometrieAreaInputA ."
		". GeometrieAreaSelect GeometrieAreaInputB ."
		". GeometrieAreaSelect GeometrieAreaInputC ."
		". GeometrieTable GeometrieCanvas ."
		". GeometrieTable GeometrieCanvas .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Material {
	grid-template-areas:
		". MaterialPropertyCb . ."
		". MaterialList MaterialList . "
		". MaterialSearchOptions MaterialSearchOptions ."
		/* ". MaterialSearchVin MaterialSearchSel MaterialSearchClose ." */
		". MaterialSearchList MaterialSearchList .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto var(--UIHeight1) auto;
}

.cl_subGrid_Expansion {
	grid-template-areas:
		". ExpansionMaterialsA ExpansionMaterialSwitch ExpansionMaterialsB ."
		". ExpansionVinLength ExpansionVinLength ExpansionVinLength ."
		". ExpansionVinTemperature ExpansionVinTemperature ExpansionVinTemperature ."
		". ExpansionVinBaseTemperature ExpansionVinBaseTemperature ExpansionVinBaseTemperature ."
		". ExpansionCBOptions ExpansionCBOptions ExpansionCBOptions ."
		". ExpansionList ExpansionList ExpansionList .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight2) auto;
}

.cl_subGrid_Middle {
	grid-template-areas:
		". MiddleInput0 ."
		". MiddleInput1 ."
		". MiddleCanvas ."
		". MiddleMid ."
		". MiddleDiff .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto var(--UIHeight2) var(--UIHeight2);
}

.cl_subGrid_Luas {
	grid-template-areas:
		". LuasVinAngularVin ."
		". LuasVinLinearVin ."
		". LuasOptAngularVin ."
		". LuasOptLinearVin ."
		". LuasCanvas ."
		". LuasResult .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Quickmath {
	grid-template-areas:
		". quickmathInput quickmathInput quickmathInput ."
		". quickmathStart quickmathStart quickmathStart ."
		". quickmathEnd quickmathEnd quickmathEnd ."
		". quickmathListMultiply quickmathListDivide quickmathListPow .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Ranje {
	grid-template-areas:
		". ranjeInput ."
		". ranjeList .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Niska {
	grid-template-areas:
		". niskaHeaderInput niskaHeaderSelect ."
		". niskaSize niskaSelect ."
		". niskaPitch . ."
		". niskaStrengthClassA niskaStrengthClassB ."
		". niskaList niskaList .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Pattern {
	grid-template-areas:
		". PatternInputA ."
		". PatternInputB ."
		". PatternInputC ."
		". PatternInputD ."
		". PatternInputE ."
		". PatternCanvas .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Pythagoras {
	grid-template-areas:
		". PythagorasInput0 PythagorasCanvas ."
		". PythagorasInput1 PythagorasCanvas ."
		". PythagorasInput2 PythagorasCanvas ."
		". PythagorasInput3 PythagorasCanvas ."
		". PythagorasInput4 PythagorasCanvas ."
		" .PythagorasInfo PythagorasInfo .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Pormula {
	grid-template-areas:
		". PormulaAddInputs PormulaTypeSelect PormulaBestFit PormulaPolyFit ."
		". PormulaInputs PormulaTypeSelect PormulaOrder PormulaOrder ."
		". PormulaInputs PormulaTypeSelect PormulaPrecision PormulaPrecision ."
		". PormulaInputs PormulaTypeSelect PormulaAccuracy PormulaAccuracy ."
		". PormulaInputs PormulaTypeSelect PormulaLblResult PormulaLblResult ."
		". PormulaInfo PormulaInfo PormulaPointEntry PormulaPointResult ."
		". PormulaCanvas PormulaCanvas PormulaCanvas PormulaCanvas .";
	grid-template-columns: 1fr auto auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) 1fr auto auto;
}

.cl_subGrid_Sudoku {
	grid-template-areas:
		". SudokuGetBoard SudokuOptionsA ."
		". SudokuCanvas SudokuOptionsB ."
		". SudokuCanvas SudokuTimer ."
		". SudokuCanvas SudokuInput ."
		". SudokuCanvas SudokuOptionsC ."
		". SudokuCanvas SudokuOverview .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) calc(var(--UIHeight2) * 2) auto auto;
}

.cl_subGrid_Linaha {
	grid-template-areas:
		". LinahaOptionsA LinahaOptionsA ."
		". LinahaOptionsB LinahaOptionsStart ."
		". LinahaOptionsC LinahaOptionsStart ."
		". LinahaRounds LinahaMap ."
		". LinahaScore LinahaMap ."
		". LinahaQuestion LinahaQuestion  ."
		". LinahaAnswers LinahaAnswers .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Ibhaluni {
	grid-template-areas:
		". IbhaluniInputs ."
		". IbhaluniCanvas .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_RayCaster {
	grid-template-areas:
		". RayCasterCanvas RayCasterInputs ."
		". RayCasterCanvas RayCasterSize ."
		". RayCasterCanvas RayCasterSpeed ."
		". RayCasterCanvas RayCasterView ."
		". RayCasterCanvas RayCasterOptionsA ."
		". RayCasterCanvas RayCasterOptionsB ."
		". RayCasterCanvas RayCasterOptionsC ."
		". RayCasterCanvas RayCasterOptionsD ."
		". RayCasterCanvas . .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) var(--UIWidth13) 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Lotto {
	grid-template-areas:
		". LottoOverview LottoOptionsA ."
		". LottoOverview LottoOptionsB ."
		". LottoCanvas LottoSavedGame ."
		". LottoCanvas LottoGetGames ."
		". LottoCanvas LottoTabGames .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Sweeper {
	grid-template-areas:
		". SweeperInputs SweeperGrid SweeperSweeps ."
		". SweeperCanvas SweeperCanvas SweeperCanvas .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Empat {
	grid-template-areas:
		". EmpatInputs ."
		". EmpatCanvas .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Numbery {
	grid-template-areas:
		". NumberyImages . NumberyInputs ."
		". NumberyImages . NumberyPairs ."
		". NumberyImages . NumberyPlayerNum ."
		". NumberyImages . NumberyCathegory ."
		". NumberyImages . NumberyPlayers ."
		". NumberyImages . NumberyResult ."
		". NumberyImages . . .";
	grid-template-columns: 1fr auto var(--UIWidth1) auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto var(--UIHeight2) auto;
}

.cl_subGrid_Ocjene {
	grid-template-areas:
		". OcjeneSheet OcjeneGenerate OcjeneGenerate ."
		". OcjeneSheet OcjeneRandomA OcjeneRandomA ."
		". OcjeneSheet OcjeneRandomB OcjeneRandomB ."
		". OcjeneSheet OcjeneRandomC OcjeneRandomC ."
		". OcjeneSheet OcjeneSongHeader OcjeneSongHeader ."
		". OcjeneSheet OcjeneTimeSignature OcjeneTimeSignature ."
		". OcjeneSheet OcjeneClefs OcjeneClefs ."
		". OcjeneSheet OcjeneKeySignature OcjeneKeySignature ."
		". OcjeneSheet OcjeneKey OcjeneKey ."
		". OcjeneSheet OcjeneTempo OcjeneTempo ."
		". OcjeneSheet OcjeneBars OcjeneBars ."
		". OcjeneSheet OcjeneShowText OcjeneShowText ."
		". OcjeneSheet OcjeneTextLanguage OcjeneTextLanguage ."
		". OcjeneSheet OcjeneInstrumentHeader OcjeneInstrumentHeader ."
		". OcjeneSheet OcjeneInstrument OcjeneInstrument ."
		". OcjeneSheet OcjeneRhytmusHeader OcjeneRhytmusHeader ."
		". OcjeneSheet OcjeneNotenwert1 OcjeneNotenwert8 ."
		". OcjeneSheet OcjeneNotenwert2 OcjeneNotenwert16 ."
		". OcjeneSheet OcjeneNotenwert4 OcjeneNotenwert32 ."
		". OcjeneSheet OcjeneDotted OcjeneDotted ."
		". OcjeneSheet OcjeneTriplet OcjeneTriplet ."
		". OcjeneSheet OcjeneRests OcjeneRests ."
		". OcjeneSheet OcjeneBarOverflowStop OcjeneBarOverflowStop ."
		". OcjeneSheet OcjeneMelodieHeader OcjeneMelodieHeader ."
		". OcjeneSheet OcjeneKeyOnly OcjeneKeyOnly ."
		". OcjeneSheet OcjeneLimitRange OcjeneLimitRange ."
		". OcjeneSheet OcjeneInterval OcjeneInterval .";
	grid-template-columns: 1fr auto var(--UIWidth6) var(--UIWidth6) 1fr;
	grid-template-rows:
		var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1)
		var(--UIHeight2) var(--UIHeight1) var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1)
		var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Beatmachine {
	grid-template-areas:
		". beatmachineOptionsA beatmachineOptionsB ."
		". beatmachineOptionsC beatmachineOptionsD ."
		". beatmachineTracks beatmachineTracks .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Blechgeometrie {
	grid-template-areas:
		". BlechgeoVinDicke ."
		". BlechgeoVinRadius ."
		". BlechgeoVinForm  ."
		". BlechgeoVinBreite ."
		". BlechgeoImg ."
		". BlechgeoLblResult .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_SpeechTranslate {
	grid-template-areas:
		". speechLangSelect ."
		". speechVoiceSelect ."
		". speechOptions ."
		". speechOutputArea .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_WikiSearch {
	grid-template-areas:
		". WikiInput WikiResultImage WikiResultTitle ."
		". WikiLanguage WikiResultImage WikiResultTitle ."
		". WikiTable WikiResultText WikiResultText .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto auto;
}

.cl_subGrid_Kadar {
	grid-template-areas:
		". KadarSelA KadarLblNow KadarSelB ."
		". KadarResultTable_Anow KadarResultTable_AB KadarResultTable_Bnow .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}
