.cl_subGrid_userLogin {
	grid-template-areas:
		". cl_UserLogin_mail ."
		". cl_UserLogin_pass ."
		". cl_UserLogin_check ."
		". cl_UserLogin_alert ."
		". cl_UserLogin_submit ."
		". cl_UserLogin_cancel .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto var(--UIHeight1) auto;
}

.cl_subGrid_userChange {
	grid-template-areas:
		". cl_UserChange_user ."
		". cl_UserChange_logout ."
		". cl_UserChange_infos ."
		". cl_UserChange_change ."
		". cl_UserChange_cancel .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight2) var(--UIHeight2) auto var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_GeneralSettings {
	grid-template-areas:
		". cl_SettingsFontsize ."
		". cl_SettingsDecimals .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_ColorSettings {
	grid-template-areas:
		". cl_ColourSettingsHeaderLight ."
		". cl_ColourSettings_light_0 ."
		". cl_ColourSettings_light_1 ."
		". cl_ColourSettings_light_2 ."
		". cl_ColourSettingsHeaderDark ."
		". cl_ColourSettings_dark_0 ."
		". cl_ColourSettings_dark_1 ."
		". cl_ColourSettings_dark_2 .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_UserGridLayout {
	grid-template-areas:
		". cl_UserGridOptions . ."
		". cl_UserGridTable . .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_MaterialFilterSettings {
	grid-template-areas: ". cl_MaterialFilterTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
}

.cl_subGrid_Howa {
	grid-template-areas:
		". cl_HowaInput cl_HowaMapsSelectCountry cl_HowaMapsSelectCriteria ."
		". cl_HowaNow cl_HowaMapsImg cl_HowaMapsImg ."
		". cl_HowaGraph cl_HowaMapsImg cl_HowaMapsImg .";

	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight2) auto;
}

.cl_subGrid_News {
	grid-template-areas:
		". cl_NewsCountry cl_NewsResultImage cl_NewsResultTitle ."
		". cl_NewsCategory cl_NewsResultImage cl_NewsResultTitle ."
		". cl_NewsTable cl_NewsResultImage cl_NewsResultTitle ."
		". cl_NewsTable cl_NewsResultText cl_NewsResultText .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Lions {
	grid-template-areas:
		". cl_LionsInput cl_LionsOutput ."
		". cl_LionsTable cl_LionsTable .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight2) auto;
}

.cl_subGrid_Sepakbola {
	grid-template-areas:
		". cl_SepakbolaInputLiga cl_SepakbolaInputSeason cl_SepakbolaInputDay ."
		". cl_SepakbolaTable cl_SepakbolaTable cl_SepakbolaMatches .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_PostillonTicker {
	grid-template-areas:
		". cl_PostillionNumber ."
		". cl_PostillionTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Tugas {
	grid-template-areas:
		". cl_TugasInput cl_TugasList ."
		". cl_TugasEnter cl_TugasList ."
		". . cl_TugasList .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: auto var(--UIHeight1) auto;
}

.cl_subGrid_Netsaona {
	grid-template-areas:
		". cl_NetsaonaOptionsA ."
		". cl_NetsaonaOptionsB ."
		". cl_NetsaonaOptionsC ."
		". cl_NetsaonaOptionsD ."
		". cl_NetsaonaOptionsE ."
		". cl_NetsaonaOptionsF ."
		". cl_NetsaonaOptionsG ."
		". cl_NetsaonaOutput .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Analysis {
	grid-template-areas:
		". cl_AnalysisInput cl_AnalysisResult ."
		". cl_AnalysisInput cl_AnalysisProgress ."
		". cl_AnalysisNews cl_AnalysisTabResult ."
		". cl_AnalysisWiki cl_AnalysisTabResult .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: auto auto var(--UIHeight1) auto;
}

.cl_subGrid_Synonym {
	grid-template-areas:
		". cl_SynonymInput ."
		". cl_SynonymSearchword ."
		". cl_SynonymTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Boredom {
	grid-template-areas:
		". cl_BoredomStart ."
		". cl_BoredomAnswer .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_BiktadA {
	grid-template-areas: ". cl_BiktadATable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
}

.cl_subGrid_Hverertu {
	grid-template-areas:
		". cl_HverertuInput ."
		". cl_HverertuTable .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Egg {
	grid-template-areas:
		". cl_EggMassValue ."
		". cl_EggTempValue ."
		". cl_EggYolkValue ."
		". cl_EggStart ."
		". cl_EggTime ."
		". cl_EggTimeProgress .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Foody {
	grid-template-areas:
		". cl_FoodyType ."
		". cl_FoodyPreheat ."
		". cl_FoodyStart ."
		". cl_FoodyTime ."
		". cl_FoodyTimeProgress .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Kounselor {
	grid-template-areas:
		". cl_KounselorOutputA  ."
		". cl_KounselorOutputB  ."
		". cl_KounselorOptionsA ."
		". cl_KounselorOptionsB ."
		". cl_KounselorOptionsC ."
		". cl_KounselorOptionsD ."
		". cl_KounselorOptionsE ."
		". cl_KounselorOptionsF ."
		". cl_KounselorOptionsG .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight2) var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_Kaihanga {
	grid-template-areas:
		". cl_KaihangaInput cl_KaihangaCanvas ."
		". cl_KaihangaSegments cl_KaihangaCanvas ."
		". cl_KaihangaSegments cl_KaihangaResult .";
	grid-template-columns: 1fr auto auto 1r;
	grid-template-rows: auto auto auto;
}

.cl_subGrid_Botanicals {
	grid-template-areas:
		". cl_BotanicalsVinPlant cl_BotanicalsVinDiscomfort ."
		". cl_BotanicalsTabResultPlant cl_BotanicalsTabResultDiscomfort .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_PlatLesen {
	grid-template-areas:
		". cl_PlatLesenRegInput ."
		". cl_PlatLesenNumInput ."
		". cl_PlatLesenResult .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto auto;
	/* grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto; */
}

.cl_subGrid_Pelvelea {
	grid-template-areas:
		". cl_PelveleaStarttime ."
		". cl_PelveleaBreaks ."
		". cl_PelveleaWorktime ."
		". cl_PelveleaResult ."
		". cl_PelveleaProgress ."
		". cl_PelveleaBreaktime .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight2) var(--UIHeight1) auto;
}

.cl_subGrid_Iomlaid {
	grid-template-areas:
		". cl_IomlaidSelCur cl_IomlaidVinCur . ."
		". cl_IomlaidTab cl_IomlaidTab cl_IomlaidTab .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Thiontu {
	grid-template-areas:
		". cl_ThiontuInputArea cl_ThiontuOutputArea ."
		". cl_ThiontuOptions_A cl_ThiontuOptions_A ."
		". cl_ThiontuOptions_B cl_ThiontuOptions_B ."
		". cl_ThiontuOptions_C cl_ThiontuOptions_C ."
		". cl_ThiontuOptions_D cl_ThiontuOptions_D ."
		". cl_ThiontuOptions_E cl_ThiontuOptions_E .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: auto var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
}

.cl_subGrid_Geometrie {
	grid-template-areas:
		". cl_GeometrieAreaSelect cl_GeometrieOptions ."
		". cl_GeometrieAreaSelect cl_GeometrieAreaInputA ."
		". cl_GeometrieAreaSelect cl_GeometrieAreaInputB ."
		". cl_GeometrieAreaSelect cl_GeometrieAreaInputC ."
		". cl_GeometrieTable cl_GeometrieCanvas ."
		". cl_GeometrieTable cl_GeometrieCanvas .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Material {
	grid-template-areas:
		". cl_MaterialPropertyCb . ."
		". cl_MaterialList cl_MaterialList . "
		". cl_MaterialSearchOptions cl_MaterialSearchOptions ."
		/* ". cl_MaterialSearchVin cl_MaterialSearchSel cl_MaterialSearchClose ." */
		". cl_MaterialSearchList cl_MaterialSearchList .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto var(--UIHeight1) auto;
}

.cl_subGrid_Expansion {
	grid-template-areas:
		". cl_ExpansionMaterialsA cl_ExpansionMaterialSwitch cl_ExpansionMaterialsB ."
		". cl_ExpansionVinLength cl_ExpansionVinLength cl_ExpansionVinLength ."
		". cl_ExpansionVinTemperature cl_ExpansionVinTemperature cl_ExpansionVinTemperature ."
		". cl_ExpansionVinBaseTemperature cl_ExpansionVinBaseTemperature cl_ExpansionVinBaseTemperature ."
		". cl_ExpansionCBOptions cl_ExpansionCBOptions cl_ExpansionCBOptions ."
		". cl_ExpansionList cl_ExpansionList cl_ExpansionList .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight2) auto;
}

.cl_subGrid_Middle {
	grid-template-areas:
		". cl_MiddleInput0 ."
		". cl_MiddleInput1 ."
		". cl_MiddleCanvas ."
		". cl_MiddleMid ."
		". cl_MiddleDiff .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto var(--UIHeight2) var(--UIHeight2);
}

.cl_subGrid_Luas {
	grid-template-areas:
		". cl_LuasVinAngularVin ."
		". cl_LuasVinLinearVin ."
		". cl_LuasOptAngularVin ."
		". cl_LuasOptLinearVin ."
		". cl_LuasCanvas ."
		". cl_LuasResult .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Quickmath {
	grid-template-areas:
		". cl_QuickmathInput cl_QuickmathInput cl_QuickmathInput ."
		". cl_QuickmathStart cl_QuickmathStart cl_QuickmathStart ."
		". cl_QuickmathEnd cl_QuickmathEnd cl_QuickmathEnd ."
		". cl_QuickmathListMultiply cl_QuickmathListDivide cl_QuickmathListPow .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Ranje {
	grid-template-areas:
		". cl_RanjeInput ."
		". cl_RanjeList .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Niska {
	grid-template-areas:
		". cl_NiskaHeaderInput cl_NiskaHeaderSelect ."
		". cl_NiskaSize cl_NiskaSelect ."
		". cl_NiskaPitch . ."
		". cl_NiskaStrengthClassA cl_NiskaStrengthClassB ."
		". cl_NiskaList cl_NiskaList .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Pattern {
	grid-template-areas:
		". cl_PatternInputA ."
		". cl_PatternInputB ."
		". cl_PatternInputC ."
		". cl_PatternInputD ."
		". cl_PatternInputE ."
		". cl_PatternCanvas .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Pythagoras {
	grid-template-areas:
		". cl_PythagorasInput0 cl_PythagorasCanvas ."
		". cl_PythagorasInput1 cl_PythagorasCanvas ."
		". cl_PythagorasInput2 cl_PythagorasCanvas ."
		". cl_PythagorasInput3 cl_PythagorasCanvas ."
		". cl_PythagorasInput4 cl_PythagorasCanvas ."
		" .cl_PythagorasInfo cl_PythagorasInfo .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Pormula {
	grid-template-areas:
		". cl_PormulaAddInputs cl_PormulaTypeSelect cl_PormulaBestFit cl_PormulaPolyFit ."
		". cl_PormulaInputs cl_PormulaTypeSelect cl_PormulaOrder cl_PormulaOrder ."
		". cl_PormulaInputs cl_PormulaTypeSelect cl_PormulaPrecision cl_PormulaPrecision ."
		". cl_PormulaInputs cl_PormulaTypeSelect cl_PormulaAccuracy cl_PormulaAccuracy ."
		". cl_PormulaInputs cl_PormulaTypeSelect cl_PormulaLblResult cl_PormulaLblResult ."
		". cl_PormulaInfo cl_PormulaInfo cl_PormulaPointEntryA cl_PormulaPointResultA ."
		". . . cl_PormulaPointEntryB cl_PormulaPointResultB ."
		". . . cl_PormulaPointEntryC cl_PormulaPointResultC ."
		". cl_PormulaCanvas cl_PormulaCanvas cl_PormulaCanvas cl_PormulaCanvas .";
	grid-template-columns: 1fr auto auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) 1fr auto auto;
}

.cl_subGrid_Sudoku {
	grid-template-areas:
		". cl_SudokuGetBoard cl_SudokuOptionsA ."
		". cl_SudokuCanvas cl_SudokuOptionsB ."
		". cl_SudokuCanvas cl_SudokuTimer ."
		". cl_SudokuCanvas cl_SudokuInput ."
		". cl_SudokuCanvas cl_SudokuOptionsC ."
		". cl_SudokuCanvas cl_SudokuOverview .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) calc(var(--UIHeight2) * 2) auto auto;
}

.cl_subGrid_Linaha {
	grid-template-areas:
		". cl_LinahaOptionsA cl_LinahaOptionsA ."
		". cl_LinahaOptionsB cl_LinahaOptionsStart ."
		". cl_LinahaOptionsC cl_LinahaOptionsStart ."
		". cl_LinahaRounds cl_LinahaMap ."
		". cl_LinahaScore cl_LinahaMap ."
		". cl_LinahaQuestion cl_LinahaQuestion  ."
		". cl_LinahaAnswers cl_LinahaAnswers .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_Ibhaluni {
	grid-template-areas:
		". cl_IbhaluniInputs ."
		". cl_IbhaluniCanvas .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_RayCaster {
	grid-template-areas:
		". cl_RayCasterCanvas cl_RayCasterInputs ."
		". cl_RayCasterCanvas cl_RayCasterSize ."
		". cl_RayCasterCanvas cl_RayCasterSpeed ."
		". cl_RayCasterCanvas cl_RayCasterView ."
		". cl_RayCasterCanvas cl_RayCasterOptionsA ."
		". cl_RayCasterCanvas cl_RayCasterOptionsB ."
		". cl_RayCasterCanvas cl_RayCasterOptionsC ."
		". cl_RayCasterCanvas cl_RayCasterOptionsD ."
		". cl_RayCasterCanvas . .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) var(--UIWidth13) 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Lotto {
	grid-template-areas:
		". cl_LottoOverview cl_LottoOptionsA ."
		". cl_LottoOverview cl_LottoOptionsB ."
		". cl_LottoCanvas cl_LottoSavedGame ."
		". cl_LottoCanvas cl_LottoGetGames ."
		". cl_LottoCanvas cl_LottoTabGames .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Sweeper {
	grid-template-areas:
		". cl_SweeperInputs cl_SweeperGrid cl_SweeperSweeps ."
		". cl_SweeperCanvas cl_SweeperCanvas cl_SweeperCanvas .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Empat {
	grid-template-areas:
		". cl_EmpatInputs ."
		". cl_EmpatCanvas .";
	grid-template-columns: 1fr var(--gridWidthGameCanvas) 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}

.cl_subGrid_Numbery {
	grid-template-areas:
		". cl_NumberyImages . cl_NumberyInputs ."
		". cl_NumberyImages . cl_NumberyPairs ."
		". cl_NumberyImages . cl_NumberyPlayerNum ."
		". cl_NumberyImages . cl_NumberyCathegory ."
		". cl_NumberyImages . cl_NumberyPlayers ."
		". cl_NumberyImages . cl_NumberyResult ."
		". cl_NumberyImages . . .";
	grid-template-columns: 1fr auto var(--UIWidth1) auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto var(--UIHeight2) auto;
}

.cl_subGrid_Beatmachine {
	grid-template-areas:
		". cl_BeatmachineOptionsA cl_BeatmachineOptionsB ."
		". cl_BeatmachineOptionsC cl_BeatmachineOptionsD ."
		". cl_BeatmachineTracks cl_BeatmachineTracks .";
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_Blechgeometrie {
	grid-template-areas:
		". cl_BlechgeoVinDicke ."
		". cl_BlechgeoVinRadius ."
		". cl_BlechgeoVinForm  ."
		". cl_BlechgeoVinBreite ."
		". cl_BlechgeoImg ."
		". cl_BlechgeoLblResult .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto auto;
}

.cl_subGrid_SpeechTranslate {
	grid-template-areas:
		". cl_SpeechLangSelect ."
		". cl_SpeechVoiceSelect ."
		". cl_SpeechOptions ."
		". cl_SpeechOutputArea .";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
}

.cl_subGrid_WikiSearch {
	grid-template-areas:
		". cl_WikiInput cl_WikiResultImage cl_WikiResultTitle ."
		". cl_WikiLanguage cl_WikiResultImage cl_WikiResultTitle ."
		". cl_WikiTable cl_WikiResultText cl_WikiResultText .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto auto;
}

.cl_subGrid_Kadar {
	grid-template-areas:
		". cl_KadarSelA cl_KadarLblNow cl_KadarSelB ."
		". cl_KadarResultTable_Anow cl_KadarResultTable_AB cl_KadarResultTable_Bnow .";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: var(--UIHeight1) auto;
}
